
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

#nav-bar {
  background-color: white !important;
  padding: 0.5% 4%;
  font-family: Verdana, Arial, Tahoma, Serif;
}

#button-form {
  border: none;
}

#link-1 {
  color: black;
  border: none;
  font-size: 1.5em;
}
#link-1:active, #link-1:focus, #link-1:visited{
  text-decoration: none;
  background-color: transparent !important;
}

#dropdown-nav>li {
  color: black;
}
#dropdown-nav>li>a{
  color: black;
}
#dropdown-nav>li>a:hover:last-child{
    background-color: transparent;
    border-bottom: 2px solid rgb(50, 196, 62)
}

#nav-dropdown {
  background: transparent !important;
  border: none;
}
#nav-dropdown>a {
  padding: 0.75%;
}
#nav-dropdown>a:hover {
  background-color: transparent;
  border-bottom: 2px solid rgb(50, 196, 62)
}

div.background {
  background-color:rgb(50, 196, 62);
}
div.background>h4 {
  color: white;
  padding-top:7%;
  padding-left:7.5%;
  padding-right:25%;
  padding-bottom:20%;
  font-size: 6.5vw;
  word-spacing: 0.005em;
}

#animated-card {
  padding: 5%;
}
#animate1 {
  margin: 0.10% 0.25%;
  min-width: 18rem;
  max-width: 23rem;
  max-height: 24rem;
  opacity: 0;
  animation-name: SlideUp;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  animation-play-state: paused;
}
#animate2 {
  margin: 0.10% 0.25%;
  min-width: 18rem;
  max-width: 23rem;
  max-height: 24rem;
  opacity: 0;
  animation-name: SlideUp;
  animation-delay: 0.1s;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  animation-play-state: paused;
}
#animate3 {
  margin: 0.10% 0.25%;
  min-width: 18rem;
  max-width: 23rem;
  max-height: 24rem;
  opacity: 0;
  animation-name: SlideUp;
  animation-duration: 1.5s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  animation-play-state: paused;
}
#animate4 {
  margin: 0.10% 0.25%;
  min-width: 18rem;
  max-width: 23rem;
  max-height: 24rem;
  opacity: 0;
  animation-name: SlideUp;
  animation-duration: 1.5s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  animation-play-state: paused;
}
#animate5 {
  margin: 0.10% 0.25%;
  min-width: 18rem;
  max-width: 23rem;
  max-height: 24rem;
  opacity: 0;
  animation-name: SlideUp;
  animation-duration: 1.5s;
  animation-delay: 0.4s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  animation-play-state: paused;
}

@keyframes SlideUp {
  0% {
    transform: translateY(25vw);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
