
body {
  margin: 0;
}

#nav-bar {
  background-color:white;
  border-bottom: 2px solid black;
  padding: 0.5% 4%;
}

#nav-button {
  padding: 0;
  outline:none;
  background:none;
  border: none;
  margin-left: 1%;
}


